.generator-container {
	padding: 2rem 3rem;
	background-color: var(--generator-background);
	width: 40rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.generator-container-title {
	text-align: center;
	margin-bottom: 1rem;
}
.customize {
	padding: 1rem 0;
	margin: 1rem 0;
	font-size: 1.3rem;
	display: flex;
	justify-content: space-between;
}
.customize:last-child {
	margin-bottom: 0;
}
#length-range {
	width: 60%;
}
#length-number {
	font-size: 1rem;
	width: 15%;
}
.generated-password-container {
	display: grid;
	grid-template-columns: 8.5fr 1.5fr;
	height: 4rem;
	padding: 0;
}
.generated-password {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid var(--generated-password-background);
}
.clipboard {
	background-color: var(--button-background);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.generate-button {
	background-color: var(--button-background);
	width: 100%;
	border: none;
	font-size: 1.5rem;
	padding: 1rem;
	cursor: pointer;
	color: var(--primary-color);
}
.generate-button:hover,
.clipboard:hover {
	background-color: var(--button-background-hover);
}
